
.submenuWrapper--isOpen {
    background: transparent;
    border: none;
    padding-top: 8px;
}

.submenu {
   background-color: #fff;
   width: 100%;
   max-width: 1240px;
   margin: 0 auto;
   padding: 35px;
   justify-content: flex-start;
}


.menuContainer--header-menu .styledLinkContent {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.06em;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    color: #a3a3a3 !important;
}

.menuContainer--header-menu .styledLinkContent--menu-title{
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.06em;
  line-height: 20px;
  text-align: left;
  color: #0d0b0f !important;
}
.menuContainer--header-menu .styledLinkContainer,
.menuContainer--header-menu .styledLink{
  margin-left: 0px;
  margin-right: 0px;
}


.menuContainer--header-menu-nav .styledLinkContent{
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.06em;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
}


.menuContainer--header-menu-nav .styledLinkContainer{
  margin-left: 0px;
  margin-right: 0px;
}

.menuContainer--header-menu-nav{
  gap: 40px;
  justify-content: space-between;
}
