.label {
    display: block;
    background: url(https://brofitwear.vteximg.com.br/arquivos/Login.svg) no-repeat 50% 50%;
    width: 18px;
    height: 50px;
    display: block;
    font-size: 0;
    padding: 0;
    margin: 0;
}

.container :global(.vtex-button) {
    padding: 0;
    min-height: auto;
    border: 0;
}

.container :global(.vtex-button__label) {
    padding: 0;
    margin: 0;
}
