.flexRow--row-discount :global(.vtex-store-components-3-x-container){
  padding: 0 25px;
}
.flexRowContent--row-discount{
  border: 1px solid #0e0a0f;
  border-right: none;
  border-left: none;
  margin: 40px 0px;
  padding: 30px 0px;
}

.flexRow--container-highlights-home :global(.vtex-store-components-3-x-container){
  padding: 0 25px;
}
.flexRowContent--images-highlights{
  display:  flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  margin-top: 5px;
  margin-bottom: 40px;
}

.flexRowContent--images-highlights .stretchChildrenWidth{
  width: calc(50% - 3px) !important;
}

.flexRow--manifest-home :global(.vtex-store-components-3-x-container){
  padding: 0px;
  margin: 20px 0px;
}

@media(min-width: 1024px){
  .flexRowContent--row-discount{
    align-items: center;
    justify-content: space-between;
    margin: 30px 0px 80px 0px;
  }
  .flexRow--row-discount :global(.vtex-store-components-3-x-container){
   max-width: 1240px;
   padding: 0px;
  }
  .flexRowContent--row-discount .stretchChildrenWidth{
    width: 100% !important;
    max-width: fit-content;
  }

  .flexRow--container-highlights-home :global(.vtex-store-components-3-x-container){
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0px;
  }

  .flexRowContent--images-highlights{
    margin: 0px;
  }

  .flexRowContent--banners-highlights-home{
    margin-top: 20px;
    margin-bottom: 80px;
  }

  .flexRow--manifest-home :global(.vtex-store-components-3-x-container){
    max-width: 1240px;
    margin: 160px auto 80px auto;
  }
  .flexRowContent--manifest-home .stretchChildrenWidth{
    width: 50%!important;
    position: relative;
  }
  .flexRowContent--manifest-home .stretchChildrenWidth:first-child::before{
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg id='Componente_85_1' data-name='Componente 85 – 1' xmlns='http://www.w3.org/2000/svg' width='82.235' height='224.318' viewBox='0 0 82.235 224.318'%3E%3Cpath id='Caminho_213' data-name='Caminho 213' d='M82.235,72.664V224.318a37.065,37.065,0,0,0-1.454-10.363c-.121-.576-.273-1.121-.454-1.7a39.79,39.79,0,0,0-10.211-16.271A15.833,15.833,0,0,0,68.3,194.35a37.949,37.949,0,0,0-4-2.969l-3.03-1.939L10.12,156.233l-9-5.878A2.534,2.534,0,0,1,0,148.264V2.518A2.456,2.456,0,0,1,3.788.4L64.3,39.667a39.429,39.429,0,0,1,17.938,33' fill='%23ce0010'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    width: 82.24px;
    height: 224.32px;
    display: flex;

    position: absolute;
    left: -45px;
    top: -90px;
  }
}
