
.newsletterForm--form-discount-home :global(.vtex-styleguide-9-x-input),
.newsletterForm--form-discount-home :global(.vtex-input-prefix__group){
  background: #f4f4f4;
  border: none;
  border-radius: 0px;
  height: 45px;
  margin-bottom: 16px;

  color: #0d0b0f;
  font-weight: 600;
}
.newsletterForm--form-discount-home :global(.vtex-styleguide-9-x-input)::placeholder{
  font-size: 13px;
  color: #0d0b0f;
}

.newsletterForm--form-discount-home .formSubmitContainer{
  display: flex;
  justify-content: center;
}

.newsletterForm--form-discount-home :global(.vtex-button){
  width: 100%;
  max-width: 180px;
  height: 40px;
  background: #0d0b0f;
  border-radius: 0px;

  font-size: 13px;
  letter-spacing: 0.06em;
  line-height: 18px;
  text-align: center;
  color: #fff;

}


@media(min-width: 1024px){
  .newsletterForm--form-discount-home .emailInputContainer{
   width: 397px;
  }
  .newsletterForm--form-discount-home{
    display: flex;
    justify-content: space-between;
    gap: 6px;

  }
  .newsletterForm--form-discount-home :global(.vtex-input-prefix__group){
    margin-bottom: 0px;
  }
}
