.sliderLayoutContainer--categorys-home{
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.sliderTrackContainer--categorys-home{
  margin-left: 25px;
}
.sliderLayoutContainer--instashop-home .paginationDotsContainer--instashop-home{
  display: flex;
}
.sliderLayoutContainer--instashop-home .paginationDot--isActive{
  background-color: #000;
}
@media(min-width: 1024px){

  .sliderTrackContainer--categorys-home{
    margin-left: 0px;
    margin-bottom: 60px;
  }

  .sliderTrack--categorys-home{
    gap: 5px;
  }

  .sliderLayoutContainer--instashop-home{
    max-width: 1440px;
    margin: 0 auto;
  }

}
