.flexRow--row-shelf :global(.vtex-store-components-3-x-container){
  padding: 0 20px;
}

.flexRowContent--price-shelf{
  justify-content: center;
}


@media(min-width: 1024px){
  .flexRow--row-shelf :global(.vtex-store-components-3-x-container){
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0;
  }
}


